div {
	border: 1px solid gray;
	width: 70%;
	padding: 50px;
	margin: auto;
	text-align: center;
}

h1 {
	font-family: monospace; 
	font-size: 20px;
	letter-spacing: 3px;
	text-transform: uppercase
}

p {
	font-family: monospace;
}

footer {
	font-family: monospace; 
	font-size: 11px;
	text-align: center;
}

sup {
	font-size: xx-small;
}

a {
	text-decoration: none;
}